body{
  background-image: url("img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 1500px;
}

h1{
  font-family: cursive;
  font-size: 180%;
  text-align: center;
  color: #990000;
}

#outer{

}

#inner{
  background-color: #1611FD;
  margin-left: 3%;
   margin-right: 80%;
  margin-top: 5%;
  padding-top: 10px;
  padding-bottom: 50px;
  /* padding-right: 200px; */
}

form{
  text-align: left;
  margin-left: 10%;
}

input[type="number"]{
  width:80px;
}
