body
{
    background-color: black;

}
h1
{
    font: 200%;
    text-align: center;
    color: red;
}
a
{
    display: block;
    text-align: center;
    color: purple;
}
#link
{
    background-color: lime;
    color:red;
    padding:20px;
    text-transform: capitalize;
}
#entry
{
    color: lime;
}
