body
{
    background-color: black;
    
}
h1
{
    font: 200%;
    text-align: center;
    color: red;
}
a
{
    text-align: center;
    color: purple;
}
#link
{
    background-color: lime;
    color:red;
    padding:20px;
}
#entry
{
    text-align: center;
    color: lime;
}